html .mceContentBody {
	counter-reset: ftnts; 
}

$em-color : #ff6347;
$size: 1.2em;

.ftnts-wrapper {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	width: $size;
	cursor: pointer;

	&:after {
		position: relative;
		counter-increment: ftnts;
		content: counter(ftnts);

		box-sizing: border-box;
		display: inline-block;
		pointer-events: none;
		
		top: -1em;
		left: 25%;
		padding: $size / 2 $size / 5;
		background-color: $em-color;
		
		text-align: center;
		color: white;
		font-size: $size / 2;
		line-height: 0;
		font-weight: normal;
		font-style: none;
		font-family: monospace;
		cursor: pointer;
	}
}

.ftnts-input {

	padding: 1em;

	h1 {
		color: red;
	}
}
